#clearance.sign-in
  -if flash[:error]
    #clearance-form-errors
      %ul
        %li= flash[:error]
  %h2 Sign In
  = render partial: '/sessions/form'
  - if Clearance.configuration.allow_sign_up?
    .other-links
      %p
        Don't have an account?
        \
        = link_to 'Sign up', sign_up_path
