#clearance.sign-up
  -if flash[:errors]
    #clearance-form-errors
      %ul
        -flash[:errors].each do |error|
          %li= error
  %h2 Sign up
  = render partial: '/users/form'
  .other-links
    %p
      Already signed up?
      \
      = link_to 'Sign in', sign_in_path
