@import 'normalize';
@import 'variables';
@import 'typography';
@import 'cards';
@import 'forms';
@import 'users';
@import 'dashboard';
@import 'boards';
@import 'posts';
@import 'pages';
@import 'hljs-xcode';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .navbar {
    background-color: $charcoal;
    color: $snow;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    a {
      color: $snow;

      &:hover {
        color: $light-blue;
      }
    }

    ul.navbar-links {
      display: inline;
      margin: 0 0.5rem 0;
      padding: 0;
      line-height: 1.25;

      @media screen and (max-width: 540px) {
      }

      li {
        display: inline;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:not(:last-child):after {
          content: "/";
          color: $smoke;
        }
      }

      &:before {
        content: "[";
        color: $smoke;
      }

      &:after {
        content: "]";
        color: $smoke;
      }
    }
  }

  #site-header {
    margin: 0 0 0.5rem;

    .navbar {
      border-bottom: 1px solid $smoke;
    }

    .hidden {
      margin: 0;

      #flash-notice {
        text-align: center;
        background-color: $light-blue;
        margin: 0 .5em 1em .5em;
        padding: 1em;
        border: 1px solid $blue;

        p {
          color: $dark-blue;
        }
      }
    }

    #preview-container {
      visibility: hidden;
    }
  }

  #site-footer {
    .navbar {
      border-top: 1px solid $smoke;
    }
  }

  main {
    flex: 1;
  }
}

.hljs {
  background: none;
}
