@import 'variables';
@import 'typography';
@import 'cards';
@import 'forms';
@import 'users';
@import 'dashboard';
@import 'boards';
@import 'posts';
@import 'pages';

html, body {
  nav {
    color: $charcoal;
    background-color: white;
    margin: 0 0 3em 0;
    font-size: 85%;

    p {
      margin: .25em;
      //display: flex;
      //flex-flow: row wrap;
      //text-align: center;

      @media screen and (min-width: 540px) {
      }

      span {
        margin: auto;

        a {
          color: $blue;

          &:hover {
            color: $dark-blue;
          }
        }
      }

      .nav-pages {
        width: 100%;

        @media screen and (min-width: 540px) {
        }

      }
      .nav-boards {
        width: 100%;

        @media screen and (min-width: 540px) {
        }

      }
    }
  }
}
