%h1 About Typochan
%p Typochan is a markdown-enabled, minimalist textboard. The source code for this application is licensed under the GPL 3.

%h2 Rules
%ul
  %li No spamming.
  %li No content that is illegal in US.
  %li Stay on topic; off topic posts belong in /ot/.
