%h1 Typochan
%h2 Announcements
%p 2018-11-18 - Typochan is born.

%h2 About Typochan
%p Typochan is a markdown-enabled, minimalist textboard. The source code for this application is licensed under the GPL 3.

%h2 Rules
%ul
  %li No content that is illegal in US.
  %li All posters must be at least 18 years old.
  %li Stay on topic; off topic posts belong in /ot/.
  %li No spamming.
